---
class: "settings-space__container__photo"
fields:
  - nameField: "Почта"
    value: "pochta@pochta.ru"
    type: "email"
  - nameField: "Логин"
    value: "ivaninav"
    type: "text"
  - nameField: "Имя"
    value: "Ванька"
    type: "text"
  - nameField: "Фамилия"
    value: "Ванькин"
    type: "text"
  - nameField: "Имя в чате"
    value: "Вано"
    type: "text"
  - nameField: "Телефон"
    value: "123(456)-78-90"
    type: "tel"
route: "./signIn.hbs"
link-text: "Выйти"
---

{{!< base}}

<div class="settings-space">
  <div class="settings-space__button-wrap">
    <a href="./chats.hbs">
      <button class="button button__circle">⇐</button>
    </a>
  </div>
  <div class="settings-space__container">
    <div style="text-align: center;">
      {{> photo}}
      {{> user username="Вадим"}}
    </div>
    <ul class="settings-space__container__list">
      {{#each fields}}
        {{> settingItem}}
      {{/each}}
    </ul>
    <ul class="settings-space__container__list">
      <li class="settings-space__container__list__item">
        <button class="button button_blue-text">Изменить данные</button> 
      </li>
      <li class="settings-space__container__list__item">
        <button class="button button_blue-text">Изменить пароль</button> 
      </li>
      <li class="settings-space__container__list__item">
        {{> link link-class="link__red-text"}}
      </li>
    </ul>
  </div>
</div>

