@mixin blueFill {
  background-color: #3369F3;
  color: #FFFFFF;
}

@mixin text($size, $color) {
  font-family: $mainFont;
  font-size: $size;
  color: $color;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}