@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import "./mixins.scss";
@import "./variables.scss";
@import "../components/Button/button.scss";
@import "../components/Form/form.scss";
@import "../components/Input/input.scss";

@import "../pages/SignUp/signUp.scss";

html,
body {
  height: 100vh;
  @include reset;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  @include reset;
}

li {
  list-style: none;
}

.main {
  @include size(100%, 100%);
  box-sizing: border-box;
}
