---
title: "Регистрация"
command: "Зарегитрироваться"
inputs:
  - label: "Почта"
    type: "email"
  - label: "Логин"
    type: "text" 
  - label: "Имя"
    type: "text"
  - label: "Фамилия"
    type: "text"
  - label: "Телефон"
    type: "tel"
  - label: "Пароль"
    type: "password"
  - label: "Пароль еще раз"
    type: "password"
link-text: "Войти"
route: "./signIn.hbs"
---

{{!< base}}

<form class="form">
  {{> title title-class="form__title"}}
  {{#each inputs}}
    {{>input}}
  {{/each}}
  <div class="form__button-wrap">
    {{>button class="form__button-auth"}}
    {{> link link-class="form__link"}}
  </div> 
</form> 
 