<li class="chats-space__list__item">
  {{> photo}}
  <div class="chats-space__list__item__message-wrap">
    {{> user}}
    <p class="chats-space__list__item__message">{{message}}</p>
  </div>
  <div class="chats-space__list__item__date-wrap">
    <span class="chats-space__list__item__date">{{dateAndTime}}</span>
    <div class="chats-space__list__item__count-message">{{countMessages}}</div>
  </div>
</li>