<li class="settings-space__container__list__item">
  <label class="settings-space__container__list__item__label">{{nameField}}</label>
  <input class="settings-space__container__list__item__value" value={{value}}>
</li>

