@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$blue: #3369F3;
$lightBlue: #E4EDFD;
$lightGrey: #EFEFEF;
$darkGrey: #999999;
$black: #1E1E1E;
$darkWhite: #FBFBFB;
$redColor: #FF2F2F;
$mainFont: 'Inter', sans-serif;
$border: 1px solid  #EAEAEA;

@mixin blueFill {
  background-color: #3369F3;
  color: #FFFFFF;
}

@mixin text($size, $color) {
  font-family: $mainFont;
  font-size: $size;
  color: $color;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

html,
body {
  @include size(100%, 100%);
  @include reset;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  @include reset;
}

input {
  outline: none;
  border:none;
}

li {
  list-style: none;
}

.main {
  @include size(100%, 100%);
  box-sizing: border-box;
}

.username {
  @include text(13px, $black);
  @include reset;
}

.profile-photo {
  border-radius: 50%;
  background-color: $lightGrey;
  @include size(47px, 47px)
}

.button {
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

//index

.index-wrap {
  height: 100%;
  display: flex;
  justify-content: center;

  &__links-list {
    @include column;
    text-align: center;
    &__item {
      margin-top: 15px;
      @include text(20px, $blue)
    }
  }
}

// chats

.chats-space {
  display: flex;
  height: 100%;

  &__navigation {
    @include column;
    height: 100%;
    padding: 10px;
    border-right: $border;
    width: 25%
  }

  &__profile-link {
    @include text(12px, $darkGrey);
    align-self: flex-end;
    text-decoration: none;
    margin-bottom: 23px;
  }

  &__form {
    padding: 10px;
    background-color: $lightGrey;
    border-radius: 5px;
    margin-bottom: 14px;

    &__search {
      padding: 0;
      width: 90%;
      border: none;
      outline: none;
      background-color: $lightGrey;
    }

  }

  &__form::before {
    content: url('../static/search.png');
    position: relative;
    top: 2px;
  }

  &__list {
    @include reset;

    &__item:hover {
      background-color: $lightBlue;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:28%;
      padding: 10px 0;
      border-top: $border;
      border-bottom: $border;
      list-style: none;

      &__message-wrap {
        align-self: flex-start;
        width:40%;
      }

      &__message {
        @include text(12px, $darkGrey);
        margin-top:4px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 15px;
      }

      &__date-wrap {
        @include column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
      }

      &__date {
        @include text(9px, $darkGrey);
      }

      &__count-message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 11px;
        border-radius: 50%;
        @include blueFill;
      }
    }
  }
}

.chat {
  padding: 10px 20px;
  @include size(75%, 75%);

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: $border;

    &__user-wrap {
      display: flex;
      align-items: center;

      &__photo {
        @include size(34px, 34px);
        margin-right:10px;
      }        
    }
  }

  &__messages {
    @include column;
    height: 100%;
    padding: 30px 0;

    &__date {
      align-self: center;
      margin-bottom: 30px;
      @include text(12px, $darkGrey)
    }
  }

}

.dots {
  @include column;
  justify-content: center;
  
  &__dot {
    background-color: $black;
    margin: 1px;
    border-radius: 50%;
    width: 3px;
    height: 3px;
  }
}

.message {
  max-width: 50%;
  min-width: 90px;
  padding: 11px;
  margin-bottom: 10px;

  &__text {
    @include reset;
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    @include text(13px, $black);
    &__time {
      align-self: flex-end;
    }
  }
}

.message__blue {
  background-color: $lightBlue;
  align-self: flex-end;
  border-radius: 12px 12px 0;
  &__text {
    
    &__time {
      @include text(9px, $blue)
    }
  }
}

.message__grey {
  background-color: $lightGrey;
  align-self: flex-start;
  border-radius: 0 12px 12px;

  &__text {
    
    &__time {
      @include text(9px, $darkGrey)
    }
  }
}

.button__circle {
  @include blueFill;
  @include size(28px, 28px);
  border-radius: 50%;
}

.message-field-wrap {
  @include reset;
  border-top: $border;
  padding: 13px 0;
  position: relative;

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
      width:80%;
      background-color: $lightGrey;
      border-radius: 30px;
      padding: 10px 20px;
    }
  }
}

.no-chats {
  @include text(12px, $darkGrey);
  text-align: center;
  align-self: center;
  width: 75%;
}

// settings

.settings-space {
  display: flex;
  height:100%;

  &__button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: $border;
    background-color: $darkWhite;
    padding: 0 18px;
  }

  &__container {
    @include size(100%, 50%);
    @include column;
    align-items: center;
    margin-top: 60px;

    &__photo {
      @include size(130px,130px);
      margin-bottom: 21px;
    }

    &__list {
      width:65%;
      margin-top: 60px;
      
      &__item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: $border;

        &__label {
          @include text(13px, $black)
        }
        
        &__value {
          @include text(13px, $darkGrey);
          text-align: right;
        }
      }
      &__item:last-child {
        border-bottom: none;
      }
    }
  }
}

.link__red-text {
  @include text(13px, $redColor)
}

.button_blue-text {
  @include text(13px, $blue)
}

// error

.error {
  @include size(100%, 100%);
  @include column;
  align-items: center;
  justify-content: center;

  &__title {
    @include text(40px, $black)
  }

  &__message {
    @include text(20px, $black)
  }

  &__link {
    @include text(11px, $blue)
  }
}

// auth
.form {
  @include column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  padding: 30px;
  min-height: 50%;
  width: 30%;
  margin:  60px auto;
  position: relative;

  &__button-wrap {
    @include column;
    align-items: center;
    width: 100%;
    position:absolute;
    bottom: 30px;
  }

  &__title {
    @include text(20px, $black);
    margin-bottom: 40px;
  }

  &__input {
    width:100%;
    @include text(13px, $black);
    border-bottom: $border;
  }

  &__input::placeholder {
    font-size: 9px;
    opacity: 0.5;
  }

  &__label {
    @include text(9px, $darkGrey);
    margin: 8px 0 4px;
    align-self: flex-start;
  }

  &__button-auth {
    @include blueFill;
    border-radius: 8px;
    padding: 12px 70px;
  }

  &__link {
    color: $blue;
    margin-top: 12px;
  }
}

